html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #fff;
}

a, button, h1, h2 ,h3 {
    all: unset;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header {
    background-color: #fff;
    text-align: center;
    font-family: 'Shrikhand';
    padding: 10px;
    margin: 0 auto 0 auto;
    margin-block-end: 0;
    margin-block-start: 0;
}

header h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.title_category {
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: auto;
}

footer {
    background-color: #353535;
    color: #fff;
    padding: 20px;
    margin: 0 auto 0 auto;
    margin-block-end: 0;
    margin-block-start: 0;
}

footer h1 {
    font-size: 1em;
    font-family: 'Shrikhand';
    margin: 0 auto 0 auto;
    margin-block-end: 0;
    margin-block-start: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer ul li {
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    align-items: center;
}

footer ul li .iconify {
    margin-right: 0.5rem;
}

/** Home Page **/

#context .localisation {
    text-align: center;
    font-weight: bold;
    background-color: #eceaea;
    padding: 10px;
}

#context .search {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f8f8f8;
}

#context .search .search_title {
    font-weight: 900;
    font-size: 1.5em;
}

#context .search .search_subtitle {
    margin: 1rem 0 1rem 0;
}

#context .search .search_button {
    border: none;
    border-radius: 95px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 0.8rem 1.6rem;
    background: linear-gradient(#ff79da, #9356dc);
    margin: 1rem auto 0 auto;
}


#operation {
    padding: 2rem 2rem 0 2rem;
}

#operation .operation_list {
    list-style-type: none;
    padding: 2rem 0 2rem 0;
    margin: 0;
}

#operation .operation_list .operation_button {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.3rem 1.5rem;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
    background-color: #f1f1f1;
    cursor: pointer;
}

#operation .operation_list .operation_button:hover {
    background-color: rgba(147, 86, 220, 0.2);
}

#operation .operation_list .operation_button .operation_digit{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356dc;
    color: white;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    left: -10px;
}

#operation .operation_list .operation_button .iconify {
    color: #9356dc;
}

#operation .operation_list .operation_button .operation_object{
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 1rem;
}


#restaurant {
    padding: 3rem 1rem 1rem 1rem;
    background-color: #f8f8f8;
}

#restaurant ul {
    list-style-type: none;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

#restaurant ul li {
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
    cursor: pointer;
    position: relative;
}

#restaurant ul li .new_button {
    background-color: #99E2D0;
    color: #2c9c81;
    border-radius: 0.1rem;
    font-weight: bold;
    padding: 0.45rem 0.75rem;
    top: 1rem;
    right: 1rem;
    position: absolute;
}

#restaurant ul li img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}

#restaurant ul li .restaurant_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

#restaurant ul li .restaurant_info .restaurant_title {
    font-weight: 900;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

#restaurant ul li .restaurant_info h3, p {
    padding: 0px;
    margin: 0px;
}

#restaurant ul li .restaurant_info .iconify {
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

#restaurant ul li .restaurant_info .iconify:hover {
    color: #9356dc;
}

/** Menu Restaurant **/

#image_background img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.home {
    position:relative;
}

.home .home_link {
    position: absolute;
    left: 0;
    margin: 0.7rem 0 0 0;
    cursor: pointer;
}

#mainRestaurant {
    margin: 0 auto 0 auto;
    margin-block-end: 0;
    margin-block-start: 0;
    position: relative;
}

#menu {
    z-index: 1;
    margin: -4rem auto 0 auto;
    border-radius: 3rem 3rem 0rem 0rem;
    background-color: rgb(245, 245, 245);
}

#menu .menu_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    padding: 1.5rem 1rem 0 1rem;
}

#menu .menu_title {
    font-size: 1.5em;
    font-family: 'Shrikhand';
    padding: 0;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

#menu .menu_button {
    padding: 0;
    margin: 0;
}

#menu .menu_button .iconify {
    color: black;
    cursor: pointer;
    transition: 0.5s;

}

#menu .menu_button .iconify:hover {
    color: #9356dc;
}

#menu .menu_meal {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#menu .menu_meal .meal_item {
    width: 100%;
    padding: 0;
    margin: 1rem 1rem 1rem 1rem;
}

#menu .menu_meal .meal_item .meal_title {
    text-transform: uppercase;
    position: relative;
    border-bottom: 4px solid #99E2D0;
    width: 45px;
    padding-bottom: 0.5rem;
    font-weight: normal;
}

#menu .menu_meal .meal_item .meal_list {
    padding: 0;
    margin: 0;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 100;
    }
  }

#menu .menu_meal .meal_item .meal_list .meal_content {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 0.5rem auto 0.5rem auto;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background-color: #99E2D0;
}

#menu .menu_meal .meal_item .meal_list .meal_content .meal_content_info {
    width: 100%;
    padding: 1rem;
    background-color: white;
}

#menu .menu_meal .meal_item .meal_list .meal_content .meal_check_section {
    margin: 0;
    margin-right: -3.5rem;
    height: 100%;
    width: auto;
    padding: 1rem;
    transition: 0.3s;
}

#menu .menu_meal .meal_item .meal_list .meal_content:hover .meal_check_section {
    margin-right: 0;
}

#menu .menu_meal .meal_item .meal_list .meal_content .meal_content_title {
    font-weight: bold;
}

#menu .menu_meal .meal_item .meal_list .meal_content .meal_content_recipe {
    display: flex;
    justify-content: space-between;
}

#menu .menu_meal .meal_item .meal_list .meal_content .meal_content_recipe .content_price {
    font-weight: bold;
}

#menu .menu_command {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 4rem 1rem;
}

#menu .menu_command .command_button {
    border: none;
    border-radius: 95px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 0.8rem 1.6rem;
    background: linear-gradient(#ff79da, #9356dc);
}