html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #f1f1f1;
}

a, button, ul, li, h1, h2 ,h3 {
    all: unset;
}

header {
    background-color: #fff;
    text-align: center;
    font-family: 'Shrikhand';
    padding: 10px;
    margin: 0 auto 0 auto;
    margin-block-end: 0;
    margin-block-start: 0;
}

header h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

#context #localisation {
    text-align: center;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 10px;
}

#context #search {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#context #search button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 10px #000;
}

#operation {
    padding: 20px;
}

#operation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#operation ul li {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
}

#restaurant {
    padding: 20px;
}

#restaurant ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#restaurant ul li {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

#restaurant ul li img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}

#restaurant ul li .cardInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

#restaurant ul li .cardInfo h3, p {
    padding: 0px;
    margin: 0px;
}

footer {
    background-color: #353535;
    color: #fff;
    padding: 20px;
    margin: 0 auto 0 auto;
    margin-block-end: 0;
    margin-block-start: 0;
}

footer h1 {
    font-size: 1em;
    font-family: 'Shrikhand';
    margin: 0 auto 0 auto;
    margin-block-end: 0;
    margin-block-start: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#image_background img {
    width: 100%;
    object-fit: cover;
}

#main {
    margin: 0 auto 0 auto;
    margin-block-end: 0;
    margin-block-start: 0;
    position: relative;
}

#menu {
    z-index: 1;
    margin: -4rem auto 0 auto;
    border-radius: 3rem 3rem 0rem 0rem;
    background-color: rgb(245, 245, 245);
}

#menu .menu_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    padding: 1.5rem 1rem 0 1rem;
}

#menu .menu_title {
    font-size: 1.5em;
    font-family: 'Shrikhand';
    padding: 0;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

#menu .menu_button {
    padding: 0;
    margin: 0;
}

#menu .menu_meal {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#menu .menu_meal .meal_item {
    width: 100%;
    padding: 0;
    margin: 1rem 1rem 1rem 1rem;
}

#menu .menu_meal .meal_item .meal_title {
    text-transform: uppercase;
    position: relative;
    border-bottom: 4px solid #99E2D0;
    width: 45px;
    padding-bottom: 0.5rem;
    font-weight: normal;
}

#menu .menu_meal .meal_item .meal_list {
    padding: 0;
    margin: 0;
}

#menu .menu_meal .meal_item .meal_list .meal_content {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 0.5rem auto 0.5rem auto;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
}

#menu .menu_meal .meal_item .meal_list .meal_content .meal_content_title {
    font-weight: bold;
}

#menu .menu_meal .meal_item .meal_list .meal_content .meal_content_recipe {
    display: flex;
    justify-content: space-between;
}

#menu .menu_meal .meal_item .meal_list .meal_content .meal_content_recipe .content_price {
    font-weight: bold;
}

#menu .menu_command {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 1rem 4rem 1rem;
}

#menu .menu_command .command_button {
    border: none;
    border-radius: 95px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 0.8rem 1.6rem;
    background: linear-gradient(#ff79da, #9356dc);
}